<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon-server.ico') }}">
        <title>Mass Scheduler</title>
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='node_modules/air-datepicker/dist/css/datepicker.min.css') }}" rel="stylesheet">
        <style type="text/css">
            .hidden { display: none !important; }
            .rounded { border-radius: 2em !important; }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="services-list">
                <br>
                <form class="form" action="" method="post">
                    <div class="form-group row">
                        <label for="userInput" class="col-xs-2 col-form-label">User</label>
                        <div class="col-xs-10">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-user" aria-hidden="true"></i></div>
                                <input type="text" name="username" class="form-control" id="userInput" placeholder="User">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="messageInput" class="col-xs-2 col-form-label">Message</label>
                        <div class="col-xs-10">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-comment" aria-hidden="true"></i></div>
                                <input type="text" name="message" id="messageInput" class="form-control" placeholder="Message">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="timeInput" class="col-xs-2 col-form-label">Time</label>
                        <div class="col-xs-10">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-fw fa-calendar-check-o" aria-hidden="true"></i></div>
                                <input id="timeInput" class="form-control datepicker-here" data-language="en" type="text" name="duration" placeholder="Time">
                                <div class="input-group-addon" id="setTime"><i class="fa fa-clock-o" aria-hidden="true"></i> 17:00</div>
                                <div class="input-group-addon" id="clearButton"><i class="fa fa-times text-danger" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-xs-2 col-xs-10">
                            <div class="hidden alert alert-danger" id="errorBox" role="alert">
                                <i class="fa fa-fw fa-times text-danger" aria-hidden="true"></i>
                                <b>Error: </b> <span id="errorContent"></span>
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <i class="fa fa-fw fa-check text-success" aria-hidden="true"></i>
                                            <b>Success: </b>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <button id="submitButton" type="submit" class="btn btn-success">Acknowledge</button>
                        </div>
                    </div>
                    <input type="search" style="margin-bottom: 1rem;" class="form-control search rounded" placeholder="Search" autocomplete=off autofocus>
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th><i class="fa fa-fw fa-server" aria-hidden="true"></i> Host Name</th>
                                <th><i class="fa fa-fw fa-info" aria-hidden="true"></i> Service Description</th>
                                <th><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> Last Check</th>
                                <th><i class="fa fa-fw fa-plug" aria-hidden="true"></i> Plugin Output</th>
                                <th id="toggleAll"><i class="fa fa-fw fa-check text-success" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% if services %}
                                {% for service in services %}
                                    <tr>
                                        <td class="host_name" style="word-wrap: break-word;">{{ service.host_name }}</td>
                                        <td class="service_description">{{ service.service_description }}</td>
                                        <td class="plugin_output">{{ service.last_check|timestamp }}</td>
                                        <td class="plugin_output">{{ service.plugin_output }}</td>
                                        <td>
                                            <input type="checkbox" style="display:none" name="service{{ service.pk }}" value="{{ service.pk }}">
                                            <i style="display:none;" class="fa fa-fw fa-check text-success" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <br>
                </form>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/air-datepicker/dist/js/datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/air-datepicker/dist/js/i18n/datepicker.en.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/list.js/dist/list.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/tether/dist/js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</html>
